@charset "utf-8";
/* CSS Document */

body{
	font-family: "Roboto" , "Arial" , "sans-serif";
	margin: 0px;
	padding: 0px;
	max-width: 316px;
	max-height: 222px;
	/*background-color: #C0C0C0;*/
	background:white;
    
}

header{
	max-width: 316px;
	background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	height: 111px;
}

a {
	text-decoration: none;
}

img.supernova-logo{
	cursor: pointer;
	width: 60px;
	height: 60px;
	padding: 17px 10px 0px 10px;
	opacity: 1;
	transition: all 0.3s ease 0s;
}

img.supernova-logo:hover{
	opacity: .9;
}

h1{
	font-size: 14px;
	color: #0b0622;
	padding: 0px;
	margin: 0px;
}

section.button-section{
	text-align: center;
	margin: 0 auto;
	background-color: #3c0f2f;
	background-image: linear-gradient(120deg, #931f45 0%, #300d2c 100%);
	max-width: 316px;
	height: 111px;
	
}

div.enable-button-container{
	padding:10px;
}

div.run-button-container{
	padding:25px 10px 0px 10px;	
	display:none;
}

div.install-button-container {
	padding:10px;
	display: none;
}
.install-supernova {
	display:none;
}



button{
	margin: 0px;
	background-color: #df2d59;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	width: 200px;
	height: 25px;
	opacity: 1;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: #0b0622;
}

header{
	background-image: linear-gradient(120deg, #A22145 0%, #7E1E41 100%);
}

.broken-slideshowicon {
	height: 70px;
	width: 70px;
	border: solid white 1px;
	border-radius: 7px;
	background-image: linear-gradient(135deg, #931f45 0%, #931f45 7%, #300d2c 50%, #300d2c 100%);
}

.broken-slideshowicon-text {
	width: 70px;
	height: 70px;
	font-family: "Roboto" , "Arial" , "sans-serif";
	font-weight: bold;
	border-radius: 7px;
	line-height: 70px;
	text-align: center;
	font-size: 3em;
	background-image: linear-gradient( 125deg, cyan 0%, cyan 40%,  #B5E3E1 45%, #C5FDF2 50%, #B5E3E1 55%, cyan 60%, cyan 100% );
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.slideshowicon{
    object-fit: fill;
    width: 70px;
    height: 70px;
    border: white solid 1px;
    border-radius: 7px;
    padding: 0px;
    opacity: 1;
	transition: all 0.3s ease 0s;
}

.emptyslot_slide {
	border: none;
}

a.slideshowicon_a {
	display: inline-block;
	margin-top: 10px;
	margin-left: auto;
	margin-top:auto;
	margin-bottom:auto;
	cursor: pointer;
	text-decoration: none;
}

.slideshowtitle{
	color:white;
	width:100px;
	max-height: 68px;
	overflow-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.slideshowplaybutton{
	width:68px;
	margin-top: 10px;
}

.slideshowpublishericon{
	width:20px;
	height:20px;
	background:white;
	border-radius: 50%;
	border: solid black 1px;
}

.slideshowpublishericon_a{
	position: absolute;
	top: 75px;
	left: 75px;
	width:20px;
	height:20px;
	border-radius: 50%;
}

.slideshowpublishericon_a :hover{
	transform: scale(1.15);
	box-shadow: 0px 0px 5px white;
	transition: transform  1s ease-out;
}

.slideshow_pin{
	height:17px;
	vertical-align: middle;
}

.slideholder-animation{
	text-align: unset;
    width: 100%;
}

.slide h1{
	color:white;
}

.slide{
	transition: all .3s ease-in-out;
	color:white;
}

.dialkey{
	transition: all .3s cubic-bezier(0.55, 0.09, 0, 2.13);
	margin:5px;
	display:inline-block;
	position:relative;
	border-radius: 10px;
}

.dialkey_selected{
	transform: scale(1.22);
}

.broken-dialkeyicon {
	height: 40px;
	width: 40px;
	border-radius: 10px;
	background-image: linear-gradient(135deg, #931f45 0%, #931f45 7%, #300d2c 50%, #300d2c 100%);
	box-shadow: #AAAFB3 1px 1px 6px 1px;
	cursor: pointer;
	
}

.broken-dialkeyicon-text {
	width: 40px;
	height: 40px;
	font-family: "Roboto" , "Arial" , "sans-serif";
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	font-size: 2em;
	background-image: linear-gradient( 125deg, cyan 0%, cyan 40%,  #B5E3E1 45%, #C5FDF2 50%, #B5E3E1 55%, cyan 60%, cyan 100% );
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	position: absolute;
	top: 0;
}

.dialkeyicon{
	width: 40px;
    height: 40px;
    border: white solid 1px;
    border-radius: 10px;
	box-shadow: #AAAFB3 1px 1px 6px 1px;
	cursor: pointer;
}

.dialkey_pin {
	display: none;
	position: absolute;
	color: #7E1E41 ;
	right: 70%;
	top: 0%;
}

.delete-game {
	display: none;
	position: absolute;
	color: #7E1E41 ;
	left: 75%;
	top: 0%;
}

.dialkey_pinned {
	display: block-inline;
	position: absolute;
	color: gold ;
	right: 70%;
	top: 0%;
}

@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(41, 151, 109, 0);
	}
	100% {
		box-shadow: 0 0 6px 4px rgba(41, 151, 109, 1);
	}
}

.new_dialkey {
	animation: shadow-pulse 500ms 8 alternate;
}

.new_slide {
	position: absolute;
	left: 38px;
	top: 2px;
	color: #00be33
}

.sponsored_slide {
	position: absolute;
	left: 22px;
	top: 2px;
	color: #D62C58;
}

.settings {
    background-color: transparent;
    border-color: transparent;
    color: #C08EA0;
	font-size: 1.1em;
	position: absolute;
	top: 2px;
	right: 4px;
	display: none;
	z-index: 1;
}

.settings :hover {
    color: white;
}

.path {
    stroke-dasharray: 253;
    animation: dash 4.5s linear 0s;
}

@keyframes dash {
    from {
      stroke-dashoffset: 253;
    }
    to {
      stroke-dashoffset: 0;
    }
}

#actionbar {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 2px;
}

#actionbar-settings {
	float: right;
	margin-left: 4px;
	margin-right: 2px;
	font-size: 1.2em;
    color: #C08EA0;
}

#actionbar-settings:hover {
	color: white;
}

#actionbar-timer {
	float: right;
	width: 15px;
}