body {
    background: rgba(0, 0, 0, 0.0);
}

hr {
    margin-bottom: 2px;
}

label {
    margin-left: 5px;
    margin-bottom: 2px;
}

input[type=checkbox] {
    margin-top: 4px;
}

.dialkey{
	transition: all .3s cubic-bezier(0.55, 0.09, 0, 2.13);
    position:relative;
    float: left;
    margin-right: 10px;
}

.broken-dialkeyicon {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	background-image: linear-gradient(135deg, #931f45 0%, #931f45 7%, #300d2c 50%, #300d2c 100%);
	box-shadow: #AAAFB3 1px 1px 6px 1px;
	cursor: pointer;
	
}

.broken-dialkeyicon-text {
	width: 50px;
	height: 50px;
	font-family: "Roboto" , "Arial" , "sans-serif";
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	font-size: 2em;
	background-image: linear-gradient( 125deg, cyan 0%, cyan 40%,  #B5E3E1 45%, #C5FDF2 50%, #B5E3E1 55%, cyan 60%, cyan 100% );
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	position: absolute;
	top: 0;
}

.dialkeyicon{
	width: 50px;
    height: 50px;
    border: white solid 1px;
    border-radius: 10px;
	box-shadow: #AAAFB3 1px 1px 6px 1px;
    cursor: pointer;
}

.message {
    overflow: hidden;
    margin-left: 10px;
}

.notification-body {
    height: 50px;
}

.toast-body {
    padding: .65rem
}

.dialkey_pin {
    position: absolute;
    color: gold ;
    right: 75%;
    bottom: 40px;
}

.toast-header {
    background-image: linear-gradient(120deg, #A22145 0%, #7E1E41 100%);
    color: white;
}

.settings {
    background-color: transparent;
    border-color: transparent;
    color: #C08EA0;
    font-size: 1.1em;
}

.settings :hover {
    color: white;
}

.path {
    stroke-dasharray: 253;
    animation: dash 4.5s linear 0s;
}

@keyframes dash {
    from {
      stroke-dashoffset: 253;
    }
    to {
      stroke-dashoffset: 0;
    }
}
